.bg-airforceblue {
  background-color: #6a1b9a !important;
}

/* Nav links */
.navbar-nav .nav-link {
  font-size: 1.3rem;
  font-weight: 700;
  color: white !important;
  cursor: pointer;
  margin-right: 18px;
}

/* Active menu */
.navbar-nav .nav-link.active {
  color: yellow !important;
}

/* Dropdown animation */
.dropdown-menu {
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  transition: 0.25s ease;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
}

/* Dropdown item */
.dropdown-item {
  font-size: 1.1rem;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #6a1b9a;
  color: white;
}

