.edit-highlight {
    background-color: #fff3cd; /* light yellow */
}


.find-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.find-container {
  background: #fff;
  width: 65%;
  height: 75vh;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.find-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
